* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.sticky-top {
  z-index: 100;
}

  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

  .f-dosis {
    font-family: 'Dosis', sans-serif;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }

.error {
    color: red;
}

.top-buffer { margin-top:20px; }

#city_geolocation {
  min-height: 50vh;
}